version: "3.9"

services:
  api:
    build: ./app
    ports:
      - "8777:8000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db

  redis:
    image: "redis:7"
    ports:
      - "6379:6379"
  
  db:
    image: "postgres:15"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sample
    ports:
      - "5555:5432"

volumes:
  postgres_data: