name: Docker CI

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: ソース取得
        uses: actions/checkout@v4

      - name: Dockerイメージビルド
        run: docker build -f app/Dockerfile -t learn-project app

      - name: コンテナ起動
        run: docker run -d -p 8777:8000 --name learn-project-container learn-project

      - name: 起動待ち
        run: sleep 10

      - name: APIテスト
        run: curl --fail http://localhost:8777
